<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card class="mx-auto" max-width="1200" outlined :loading="localLoading">
        <v-card-text class="page_card_container">
          <v-row no-gutters>
            <v-col class="pt-2 pb-1">
              <v-row dense>
                <v-col cols="12" sm="12" md="12" class="pl-2 pt-2">
                  <h1 class="page-title">Настройки</h1>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <hr />
<!-- 
          <span v-if="!localLoading && optionsSearched.length === 0">No options founded</span>
          <span v-if="localLoading">Loading...</span> -->

          <v-simple-table dense>
            <thead>
              <tr>
                <th class="text-left" style="min-width: 110px">Название</th>
                <th class="text-left" style="min-width: 110px">Значение</th>
                <th class="text-left">Описание</th>
                <th class="text-right table-actions-col_options pr-5">Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="option-name">Пользователи</span>
                </td>
                <td>
                  <span class="option-name">-</span>
                </td>
                <td>
                  управление пользователями
                </td>
                <td>
                  <v-btn small color="primary" to="/users" tile depressed>
                    <v-icon left x-small>mdi-eye</v-icon>
                    Перейти
                  </v-btn>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="option-name">Изображения</span>
                </td>
                <td>
                  <span class="option-name">-</span>
                </td>
                <td>
                  просмотр и редактирование изображений
                </td>
                <td>
                  <v-btn small color="primary" to="/images" tile depressed>
                    <v-icon left x-small>mdi-eye</v-icon>
                    Перейти
                  </v-btn>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="option-name">Теги</span>
                </td>
                <td>
                  <span class="option-name">-</span>
                </td>
                <td>
                  управление тегами изображений
                </td>
                <td>
                  <v-btn small color="primary" to="/tags" tile depressed>
                    <v-icon left x-small>mdi-eye</v-icon>
                    Перейти
                  </v-btn>
                </td>
              </tr>
              <!-- <tr v-for="option of optionsSearched" :key="option.id">
                <td>
                  <span class="option-name">{{ option.name }}</span>
                </td>
                <td>
                  <span class="option-name">{{ option.value }}</span>
                </td>
                <td>
                  -
                </td>
                <td>
                  <edit-option-modal
                    :thisOptionData="option"
                  ></edit-option-modal>
                </td>
              </tr> -->
            </tbody>
          </v-simple-table>
          <v-row>
            <v-col> &nbsp;<br /><br /> </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
// import { mapGetters, mapActions } from "vuex";
// import EditOptionModal from "./EditOptionModal";

export default {
  name: "Settings",
  // components: {
  //   "edit-option-modal": EditOptionModal,
  // },
  data: () => ({
    localLoading: false,
    // --
  }),
  mounted() {
    // this.localLoading = true;
    // Promise.all([
    //   this.fetchOptions()
    // ]).then(() => {
    //   this.localLoading = false;
    // });
  },
  computed: {
    // ...mapGetters("options", ["options"]),
    // optionsSearched() {
    //   let result = this.options;

    //   return result;
    // },
  },
  methods: {
    // ...mapActions("options", ["fetchOptions"]),
  },
};
</script>

<style>
.table-actions-col_options {
  width: 142px;
  min-width: 142px;
}
</style>
