<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <slot></slot>
      </span>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Редактировать Изображение
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        <v-container>
          <v-row class="mx-2" dense>
            <v-col cols="12" sm="12" md="12">
              <cld-image v-if="cloudinary_public_id" :cloudName="cloudName" :publicId="cloudinary_public_id" crop="limit" width="240" height="160" />
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Название*"
                hint="Введите название изображения (для поиска)"
                required
                v-model="src_name"
                :error-messages="src_nameErrors"
                @input="$v.src_name.$touch()"
                @blur="$v.src_name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="cloudinary_asset_id"
                :value="cloudinary_asset_id"
                hide-details=""
                disabled
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="cloudinary_public_id"
                :value="cloudinary_public_id"
                hide-details=""
                disabled
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="cloudinary_secure_url"
                :value="cloudinary_secure_url"
                hide-details=""
                disabled
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-autocomplete
                outlined
                dense
                hide-details
                label="Статус"
                :items="status_list"
                v-model="status"
                item-text="name"
                item-value="id"
              ></v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-switch v-model="is_transport_type" :false-value="TRANSPORT_TYPE_NO" :true-value="TRANSPORT_TYPE_YES" dense class="switch_fix_top_margin" label="Транспорт" hide-details></v-switch>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-if="is_transport_type == TRANSPORT_TYPE_YES">
              <v-autocomplete
                outlined
                dense
                clear-icon="mdi-close"
                clearable
                hide-details
                label="Тип Транспорта"
                :items="truck_type_list"
                v-model="transport_types"
                item-text="name"
                item-value="id"
                multiple
              ></v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-if="is_transport_type == TRANSPORT_TYPE_YES">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Грузоподъёмность (Кг)"
                min="0"
                hint="Введите грузоподъёмность в килограммах"
                required
                type="number"
                v-model="bearing_capacity"
                :error-messages="bearing_capacityErrors"
                @input="$v.bearing_capacity.$touch()"
                @blur="$v.bearing_capacity.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-switch v-model="is_cargo_type" :false-value="CARGO_TYPE_NO" :true-value="CARGO_TYPE_YES" dense class="switch_fix_top_margin" label="Груз" hide-details></v-switch>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-if="is_cargo_type == CARGO_TYPE_YES">
              <v-autocomplete
                outlined
                dense
                clear-icon="mdi-close"
                clearable
                hide-details
                label="Тип груза"
                :items="cargo_type_list"
                v-model="cargo_types"
                item-text="name"
                item-value="id"
                multiple
              ></v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-autocomplete
                outlined
                dense
                v-model="tags"
                :loading="tagLoading"
                :items="tagsSearched"
                chips
                clearable
                deletable-chips
                small-chips
                color="blue-grey lighten-2"
                label="Теги"
                item-text="name"
                :search-input.sync="tag_search"
                multiple
                hide-details
              ></v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12" v-if="is_cargo_type == CARGO_TYPE_YES">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Масса (Кг)"
                hint="Введите массу в килограммах"
                step="0.01"
                min="0"
                required
                type="number"
                v-model="weight"
                :error-messages="weightErrors"
                @input="$v.weight.$touch()"
                @blur="$v.weight.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Объём (м3)"
                step="0.001"
                min="0"
                hint="введите Объём, метры кубические"
                required
                type="number"
                v-model="volume"
                :error-messages="volumeErrors"
                @input="$v.volume.$touch()"
                @blur="$v.volume.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Длина (м)"
                step="0.01"
                min="0"
                hint="Введите длину в метрах"
                required
                type="number"
                v-model="length"
                :error-messages="lengthErrors"
                @input="$v.length.$touch()"
                @blur="$v.length.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Ширина (м)"
                step="0.01"
                min="0"
                hint="Введите ширину в метрах"
                required
                type="number"
                v-model="width"
                :error-messages="widthErrors"
                @input="$v.width.$touch()"
                @blur="$v.width.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Высота (м)"
                step="0.01"
                min="0"
                hint="Введите высоту в метрах"
                required
                type="number"
                v-model="height"
                :error-messages="heightErrors"
                @input="$v.height.$touch()"
                @blur="$v.height.$touch()"
              ></v-text-field>
            </v-col>

          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Сбросить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="primary" :loading="localLoading" @click="submit()" :disabled="status == STATUS_NEW">Сохранить</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions, mapGetters } from "vuex";
import {
  required,
  maxLength,
  decimal,
} from "vuelidate/lib/validators";
import * as _ from "lodash";

const TRANSPORT_TYPE_YES = 10;
const TRANSPORT_TYPE_NO = 20;

const CARGO_TYPE_YES = 10;
const CARGO_TYPE_NO = 20;

const STATUS_NEW = 10; // not loaded to cloud
const STATUS_PROCESSED = 20; // success
const STATUS_MANAGED = 30;
const STATUS_REJECTED = 40;

export default {
  name: "EditImage",
  mixins: [validationMixin],
  props: ["thisImageData"],
  validations: {
    src_name: { required, maxLength: maxLength(255) },
    bearing_capacity: { decimal },
    weight: { decimal },
    volume: { decimal },
    length: { decimal },
    width: { decimal },
    height: { decimal },
  },
  data: () => ({
    dialog: false,
    localLoading: false,
    tagLoading: false,
    status: void 0,
    cloudinary_asset_id: void 0,
    cloudinary_public_id: void 0,
    cloudinary_secure_url: void 0,
    requests_count: void 0,
    src_name: void 0,
    is_transport_type: void 0,
    is_cargo_type: void 0,
    bearing_capacity: void 0, // kg
    weight: void 0, // kg
    volume: void 0, // m3
    length: void 0, // m
    width: void 0, // m
    height: void 0, // m
    //
    cargo_types: [],
    transport_types: [],
    //
    tags: [],
    tag_list: [],
    tag_search: "",
    _timerTagSearch: void 0,
    // --
    response_errors: [],
    TRANSPORT_TYPE_YES,
    TRANSPORT_TYPE_NO,
    CARGO_TYPE_YES,
    CARGO_TYPE_NO,
    STATUS_NEW,
    status_list: [{
        id: STATUS_MANAGED,
        name: 'Подтверждён',
      }, {
        id: STATUS_PROCESSED,
        name: 'Загружен',
      }, {
        id: STATUS_REJECTED,
        name: 'Отклонён',
    }],
  }),
  mounted() {
    this.clear();
  },

  watch: {
    tag_search(val) {
      // Items have already been loaded
      // if (this.tags.length > 0) return;

      // Items have already been requested
      // if (this.tagLoading) return;

      // add throttle
      clearTimeout(this._timerTagSearch)
      this._timerTagSearch = setTimeout(() => {
        this.tagLoading = true;
        this.fetchTags({
          search: val
        }).then(() => {
          this.tag_list = this.tag_list_api;
        }).finally(() => {
          this.tagLoading = false;
        });
      }, 500)
    },
  },

  computed: {
    ...mapGetters("truck_type", {
      truck_type_list: "truck_types",
    }),
    ...mapGetters("cargo_type", {
      cargo_type_list: "cargo_types",
    }),
    ...mapGetters("tag", {
      tag_list_api: "tags",
    }),
    ...mapGetters("app", {
      cloudName: "cloudName",
    }),
    tagsSearched() {
      let result = [];

      // convert to strings
      _.each(this.tag_list, (p) => {
        result.push(p.name);
      });

      // add selected tags to list, - to prevent remove
      _.each(this.tags, (p1) => {
        if (!_.find(result, (p2) => p1 == p2)) {
          result.push(p1);
        }
      });

      // if searched not founded add new tag
      if (this.tag_search && !_.find(result, (p) => this.tag_search == p)) {
        result.push(this.tag_search);
      }

      return result;
    },
    src_nameErrors() {
      const errors = [];
      if (!this.$v.src_name.$dirty) {
        return errors;
      }
      !this.$v.src_name.maxLength && errors.push('Поле должно быть не больше 255 символов');
      !this.$v.src_name.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    bearing_capacityErrors() {
      const errors = [];
      if (!this.$v.bearing_capacity.$dirty) {
        return errors;
      }
      !this.$v.bearing_capacity.decimal && errors.push('bearing_capacity must be decimal');
      return errors;
    },
    weightErrors() {
      const errors = [];
      if (!this.$v.weight.$dirty) {
        return errors;
      }
      !this.$v.weight.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
    volumeErrors() {
      const errors = [];
      if (!this.$v.volume.$dirty) {
        return errors;
      }
      !this.$v.volume.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
    lengthErrors() {
      const errors = [];
      if (!this.$v.length.$dirty) {
        return errors;
      }
      !this.$v.length.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
    widthErrors() {
      const errors = [];
      if (!this.$v.width.$dirty) {
        return errors;
      }
      !this.$v.width.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
    heightErrors() {
      const errors = [];
      if (!this.$v.height.$dirty) {
        return errors;
      }
      !this.$v.height.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
  },

  methods: {
    ...mapActions("image", ["editImage"]),
    ...mapActions("tag", ["fetchTags", "setSearch"]),
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const editedImage = {
          id: this.thisImageData.id,
          status: this.status,
          src_name: this.src_name,
          is_transport_type: this.is_transport_type,
          is_cargo_type: this.is_cargo_type,
          bearing_capacity: this.bearing_capacity,
          weight: this.weight,
          volume: this.volume,
          length: this.length,
          width: this.width,
          height: this.height,
          // --
          cargo_types: this.cargo_types,
          transport_types: this.transport_types,
          tags: this.tags,
        };

        this.localLoading = true;
        this.editImage(editedImage)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
    onRemoveTag(index) {
      this.tags.splice(index, 1);
    },
    clear() {
      this.$v.$reset();

      this.status = _.get(this.thisImageData, 'status');
      this.cloudinary_asset_id = _.get(this.thisImageData, 'cloudinary_asset_id');
      this.cloudinary_public_id = _.get(this.thisImageData, 'cloudinary_public_id');
      this.cloudinary_secure_url = _.get(this.thisImageData, 'cloudinary_secure_url');
      this.requests_count = _.get(this.thisImageData, 'requests_count');
      this.src_name = _.get(this.thisImageData, 'src_name');
      this.is_transport_type = _.get(this.thisImageData, 'is_transport_type', TRANSPORT_TYPE_NO);
      this.is_cargo_type = _.get(this.thisImageData, 'is_cargo_type', CARGO_TYPE_NO);
      this.bearing_capacity = _.get(this.thisImageData, 'bearing_capacity');
      this.weight = _.get(this.thisImageData, 'weight');
      this.volume = _.get(this.thisImageData, 'volume');
      this.length = _.get(this.thisImageData, 'length');
      this.width = _.get(this.thisImageData, 'width');
      this.height = _.get(this.thisImageData, 'height');

      this.cargo_types = _.map(_.get(this.thisImageData, 'cargo_type_ids', []), p => p.cargo_type_id);
      this.transport_types = _.map(_.get(this.thisImageData, 'transport_type_ids', []), p => p.transport_type_id);
      this.tags = _.map(_.get(this.thisImageData, 'tags', []), p => p.name);

      // --
      this.response_errors = [];
    },
  },
};
</script>

<style>
</style>
