<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card
        class="mx-auto"
        outlined
        :loading="localLoading"
      >
        <v-card-text>
          
          <span v-if="localLoading">Загрузка, пожалуйста ждите....</span>
          <span v-if="!localLoading && !thisImageData">Изображений не найдено</span>

          <form @submit.prevent="submit">
            <v-container fluid class="pl-0 pr-0" v-if="thisImageData">
              <v-row class="mx-2" no-gutters>
                <v-col cols="12" sm="4" md="4">
                  <v-row class="mx-2" dense>
                    <v-col cols="12" sm="12" md="12" class="pl-0 pr-0">
                      <!-- <cld-image v-if="cloudinary_public_id" :cloudName="cloudName" :publicId="cloudinary_public_id" crop="limit" width="460" height="280" /> -->
                      <v-img v-if="file_name" :src="getPhotoPath(file_name)"></v-img>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Название*"
                        hint="Введите название изображения (для поиска)"
                        required
                        v-model="src_name"
                        :error-messages="src_nameErrors"
                        @input="$v.src_name.$touch()"
                        @blur="$v.src_name.$touch()"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-radio-group
                        v-model="item_type"
                        row
                        hide-details
                        class="mt-0 mb-2"
                      >
                        <v-radio
                          label="Груз"
                          value="is_cargo_type"
                        ></v-radio>
                        <v-radio
                          label="Транспорт"
                          value="is_transport_type"
                        ></v-radio>
                      </v-radio-group>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" v-if="is_transport_type == TRANSPORT_TYPE_YES">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Грузоподъёмность (Кг)"
                        min="0"
                        hint="Введите грузоподъёмность в килограммах"
                        required
                        type="number"
                        v-model="bearing_capacity"
                        :error-messages="bearing_capacityErrors"
                        @input="$v.bearing_capacity.$touch()"
                        @blur="$v.bearing_capacity.$touch()"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" v-if="is_cargo_type == CARGO_TYPE_YES">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Масса (Кг)"
                        hint="Введите массу в килограммах"
                        step="0.01"
                        min="0"
                        required
                        type="number"
                        v-model="weight"
                        :error-messages="weightErrors"
                        @input="$v.weight.$touch()"
                        @blur="$v.weight.$touch()"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="4" md="4" v-if="is_cargo_type == CARGO_TYPE_YES">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Длина (м)"
                        step="0.01"
                        min="0"
                        hint="Введите длину в метрах"
                        required
                        type="number"
                        v-model="length"
                        :error-messages="lengthErrors"
                        @input="$v.length.$touch()"
                        @blur="$v.length.$touch()"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="4" md="4" v-if="is_cargo_type == CARGO_TYPE_YES">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Ширина (м)"
                        step="0.01"
                        min="0"
                        hint="Введите ширину в метрах"
                        required
                        type="number"
                        v-model="width"
                        :error-messages="widthErrors"
                        @input="$v.width.$touch()"
                        @blur="$v.width.$touch()"
                      ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="4" md="4" v-if="is_cargo_type == CARGO_TYPE_YES">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Высота (м)"
                        step="0.01"
                        min="0"
                        hint="Введите высоту в метрах"
                        required
                        type="number"
                        v-model="height"
                        :error-messages="heightErrors"
                        @input="$v.height.$touch()"
                        @blur="$v.height.$touch()"
                      ></v-text-field>
                    </v-col>

                    <!-- <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        clear-icon="mdi-close"
                        clearable
                        outlined
                        dense
                        label="Объём (м3)"
                        step="0.001"
                        min="0"
                        hint="введите Объём, метры кубические"
                        required
                        type="number"
                        v-model="volume"
                        :error-messages="volumeErrors"
                        @input="$v.volume.$touch()"
                        @blur="$v.volume.$touch()"
                      ></v-text-field>
                    </v-col> -->

                  </v-row>
                </v-col>
                <v-col cols="12" sm="8" md="8">
                  <v-row dense>
                    <v-col cols="12" sm="12" md="12">
                      <v-autocomplete
                        outlined
                        dense
                        v-model="tags"
                        :loading="tagLoading"
                        :items="tagsSearched"
                        chips
                        clearable
                        deletable-chips
                        small-chips
                        color="blue-grey lighten-2"
                        label="Теги"
                        item-text="name"
                        :search-input.sync="tag_search"
                        multiple
                        hide-details
                      ></v-autocomplete>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pl-4">
                      <v-row no-gutters>
                        <v-col cols="12" sm="12" md="12">
                          <v-banner single-line>
                            <h3>Типы Транспорта</h3>
                          </v-banner>
                        </v-col>
                        <v-col cols="12" sm="4" md="3" v-for="transport_type of truck_type_list" :key="transport_type.title">
                          <v-checkbox
                            :label="transport_type.name"
                            :input-value="isChekedTransportType(transport_type)"
                            hide-details
                            @change="onChangeTransportType($event, transport_type)"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-col>

                    <v-col cols="12" sm="12" md="12" class="pl-4">
                      <v-row no-gutters>
                        <v-col cols="12" sm="12" md="12">
                          <v-banner single-line>
                            <h3>Типы Груза</h3>
                          </v-banner>
                        </v-col>
                        <v-col cols="12" sm="4" md="3" v-for="cargo_type of cargo_type_list" :key="cargo_type.title">
                          <v-checkbox
                            :label="cargo_type.name"
                            :input-value="isChekedCargoType(cargo_type)"
                            hide-details
                            @change="onChangeCargoType($event, cargo_type)"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              
            </v-container>
            <v-card-actions v-if="thisImageData" class="pt-0 pb-0">
              <v-btn class="mr-4" text :loading="localLoading" @click="clear" large>
                <v-icon left>mdi-rotate-left</v-icon>Сбросить
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn color="error" :loading="localLoading" @click="submit(STATUS_REJECTED)" large>
                <v-icon left>mdi-close</v-icon>Отклонить
              </v-btn>
              <v-btn color="primary" :loading="localLoading" @click="submit(STATUS_MANAGED)" :disabled="!item_type" large class="ml-10">
                <v-icon left>mdi-check</v-icon>Сохранить
              </v-btn>
            </v-card-actions>
          </form>

          <v-row v-if="!localLoading">
            <v-col class="pb-0 pt-0">
              Всего изображений на проверку: {{total_pages}}
            </v-col>
          </v-row>
        </v-card-text>

        
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions, mapGetters } from "vuex";
import {
  required,
  maxLength,
  decimal,
} from "vuelidate/lib/validators";
import * as _ from "lodash";

const TRANSPORT_TYPE_YES = 10;
const TRANSPORT_TYPE_NO = 20;

const CARGO_TYPE_YES = 10;
const CARGO_TYPE_NO = 20;

const STATUS_NEW = 10;
// const STATUS_PROCESSED = 20; // success
const STATUS_MANAGED = 30;
const STATUS_REJECTED = 40;

export default {
  name: "ImagesModerate",
  mixins: [validationMixin],
  validations() {
    let result_validations = {
      src_name: { required, maxLength: maxLength(255) },
    };

    if (this.item_type == 'is_transport_type') {
      result_validations.bearing_capacity = { required, decimal };
    }

    if (this.item_type == 'is_cargo_type') {
      result_validations.weight = { required, decimal };
      result_validations.volume = { decimal };
      result_validations.length = { required, decimal };
      result_validations.width = { required, decimal };
      result_validations.height = { required, decimal };
    }

    return result_validations;
  },
  data: () => ({
    localLoading: false,
    tagLoading: false,
    // image data
    status: void 0,
    file_name: void 0,
    // cloudinary_asset_id: void 0,
    // cloudinary_public_id: void 0,
    // cloudinary_secure_url: void 0,
    requests_count: void 0,
    src_name: void 0,
    item_type: void 0,
    is_transport_type: void 0,
    is_cargo_type: void 0,
    bearing_capacity: void 0, // kg
    weight: void 0, // kg
    volume: void 0, // m3
    length: void 0, // m
    width: void 0, // m
    height: void 0, // m
    //
    cargo_types: [],
    transport_types: [],
    //
    tags: [],
    tag_list: [],
    tag_search: "",
    _timerTagSearch: void 0,
    // --
    response_errors: [],
    TRANSPORT_TYPE_YES,
    TRANSPORT_TYPE_NO,
    CARGO_TYPE_YES,
    CARGO_TYPE_NO,
    STATUS_NEW,
    STATUS_MANAGED,
    STATUS_REJECTED,
  }),

  computed: {
    ...mapGetters("image", {
      image_list: "images",
      page: "page",
      total_pages: "total_pages",
    }),
    ...mapGetters("app", {
      cloudName: "cloudName",
    }),
    thisImageData() {
      if (this.image_list.length == 0) {
        return void 0;
      }
      return this.image_list[0];
    },
    ...mapGetters("truck_type", {
      truck_type_list: "truck_types",
    }),
    ...mapGetters("cargo_type", {
      cargo_type_list: "cargo_types",
    }),
    ...mapGetters("tag", {
      tag_list_api: "tags",
    }),
    ...mapGetters("app", {
      cloudName: "cloudName",
    }),
    ...mapGetters("app", {
      imagesBaseUrl: "imagesBaseUrl",
    }),
    tagsSearched() {
      let result = [];

      // convert to strings
      _.each(this.tag_list, (p) => {
        result.push(p.name);
      });

      // add selected tags to list, - to prevent remove
      _.each(this.tags, (p1) => {
        if (!_.find(result, (p2) => p1 == p2)) {
          result.push(p1);
        }
      });

      // if searched not founded add new tag
      if (this.tag_search && !_.find(result, (p) => this.tag_search == p)) {
        result.push(this.tag_search);
      }

      return result;
    },
    src_nameErrors() {
      const errors = [];
      if (!this.$v.src_name.$dirty) {
        return errors;
      }
      !this.$v.src_name.maxLength && errors.push('Поле должно быть не больше 255 символов');
      !this.$v.src_name.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    bearing_capacityErrors() {
      const errors = [];
      if (!this.$v.bearing_capacity.$dirty) {
        return errors;
      }
      !this.$v.bearing_capacity.decimal && errors.push('bearing_capacity must be decimal');
      !this.$v.bearing_capacity.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    weightErrors() {
      const errors = [];
      if (!this.$v.weight.$dirty) {
        return errors;
      }
      !this.$v.weight.decimal && errors.push('Поле должано быть дробным числом');
      !this.$v.weight.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    volumeErrors() {
      const errors = [];
      if (!this.$v.volume.$dirty) {
        return errors;
      }
      !this.$v.volume.decimal && errors.push('Поле должано быть дробным числом');
      return errors;
    },
    lengthErrors() {
      const errors = [];
      if (!this.$v.length.$dirty) {
        return errors;
      }
      !this.$v.length.decimal && errors.push('Поле должано быть дробным числом');
      !this.$v.length.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    widthErrors() {
      const errors = [];
      if (!this.$v.width.$dirty) {
        return errors;
      }
      !this.$v.width.decimal && errors.push('Поле должано быть дробным числом');
      !this.$v.width.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    heightErrors() {
      const errors = [];
      if (!this.$v.height.$dirty) {
        return errors;
      }
      !this.$v.height.decimal && errors.push('Поле должано быть дробным числом');
      !this.$v.height.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
  },
  mounted() {
    this.localLoading = true;
    Promise.all([
      this.fetchImages({
        per_page: 1,
        status: STATUS_NEW,
      }),
      this.fetchTruckTypes(),
      this.fetchCargoTypes(),
      // this.fetchTags(),
    ]).then(() => {
      this.localLoading = false;
      this.clear();
    });
  },
  watch: {
    tag_search(val) {
      // add throttle
      clearTimeout(this._timerTagSearch)
      this._timerTagSearch = setTimeout(() => {
        this.tagLoading = true;
        this.fetchTags({
          search: val
        }).then(() => {
          this.tag_list = this.tag_list_api;
        }).finally(() => {
          this.tagLoading = false;
        });
      }, 500)
    },
    item_type(val) {
      if (val == 'is_cargo_type') {
        this.is_cargo_type = CARGO_TYPE_YES;
        this.is_transport_type = TRANSPORT_TYPE_NO;
      } else if(val == 'is_transport_type') {
        this.is_cargo_type = CARGO_TYPE_NO;
        this.is_transport_type = TRANSPORT_TYPE_YES;
      } else {
        this.is_cargo_type = CARGO_TYPE_NO;
        this.is_transport_type = TRANSPORT_TYPE_NO;
      }
    },
    length() {
      this.calcVolume();
    },
    width() {
      this.calcVolume();
    },
    height() {
      this.calcVolume();
    },
  },
  methods: {
    ...mapActions("image", [
      "fetchImages", "setTransportTypes", "setCargoTypes", "setTags", "editImage"
      ]),
    ...mapActions("truck_type", ["fetchTruckTypes"]),
    ...mapActions("cargo_type", ["fetchCargoTypes"]),
    ...mapActions("tag", {
      fetchTags: "fetchTags",
      setSearchTags: "setSearch"
    }),
    submit(status) {
      this.$v.$touch();

      if (!this.$v.$invalid || status == STATUS_REJECTED) {
        const editedImage = {
          id: this.thisImageData.id,
          status: status,
          src_name: this.src_name ? this.src_name : 'rejected',
          is_transport_type: this.is_transport_type,
          is_cargo_type: this.is_cargo_type,
          bearing_capacity: this.bearing_capacity,
          weight: this.weight,
          volume: this.volume,
          length: this.length,
          width: this.width,
          height: this.height,
          // --
          cargo_types: this.cargo_types,
          transport_types: this.transport_types,
          tags: this.tags,
        };

        let me = this;
        me.localLoading = true;
        me.editImage(editedImage)
          .then(() => {
            me.clear();

            // load next image
            me.localLoading = true;
            me.fetchImages({
              per_page: 1,
              status: STATUS_NEW,
            }).then(() => {
              me.clear();
            }).catch((error) => {
              me.response_errors = _.get(error, 'response.data.errors', []);
            }).finally(() => {
              me.localLoading = false;
            });

          })
          .catch((error) => {
            me.response_errors = _.get(error, 'response.data.errors', []);
          });
      }
    },
    clear() {
      // this.$v.$reset();

      this.status = _.get(this.thisImageData, 'status');
      this.file_name = _.get(this.thisImageData, 'file_name');
      // this.cloudinary_asset_id = _.get(this.thisImageData, 'cloudinary_asset_id');
      // this.cloudinary_public_id = _.get(this.thisImageData, 'cloudinary_public_id');
      // this.cloudinary_secure_url = _.get(this.thisImageData, 'cloudinary_secure_url');
      this.requests_count = _.get(this.thisImageData, 'requests_count');
      this.src_name = _.get(this.thisImageData, 'src_name');
      this.is_transport_type = _.get(this.thisImageData, 'is_transport_type', TRANSPORT_TYPE_NO);
      this.is_cargo_type = _.get(this.thisImageData, 'is_cargo_type', CARGO_TYPE_NO);
      this.bearing_capacity = _.get(this.thisImageData, 'bearing_capacity');
      this.weight = _.get(this.thisImageData, 'weight');
      this.volume = _.get(this.thisImageData, 'volume');
      this.length = _.get(this.thisImageData, 'length');
      this.width = _.get(this.thisImageData, 'width');
      this.height = _.get(this.thisImageData, 'height');

      this.cargo_types = _.map(_.get(this.thisImageData, 'cargo_type_ids', []), p => p.cargo_type_id);
      this.transport_types = _.map(_.get(this.thisImageData, 'transport_type_ids', []), p => p.transport_type_id);
      this.tags = _.map(_.get(this.thisImageData, 'tags', []), p => p.name);

      if (this.is_transport_type == TRANSPORT_TYPE_YES) {
        this.item_type = 'is_transport_type';
      } else if (this.is_cargo_type == CARGO_TYPE_YES) {
        this.item_type = 'is_cargo_type';
      } else {
        this.item_type = void 0;
      }

      // --
      this.response_errors = [];
    },
    onChangeTransportType(val, transport_type) {
      if (val) {
        this.transport_types.push(transport_type.id);
      } else {
        let index = this.transport_types.indexOf(transport_type.id)
        this.transport_types.splice(index, 1);
      }
    },
    isChekedTransportType(transport_type) {
      return this.transport_types.indexOf(transport_type.id) !== -1;
    },
    onChangeCargoType(val, cargo_type) {
      if (val) {
        this.cargo_types.push(cargo_type.id);
      } else {
        let index = this.cargo_types.indexOf(cargo_type.id)
        this.cargo_types.splice(index, 1);
      }
    },
    isChekedCargoType(cargo_type) {
      return this.cargo_types.indexOf(cargo_type.id) !== -1;
    },
    getPhotoPath: function (photo) {
      if (photo.indexOf("data:image/") === 0) {
        return photo; // src data
      }

      return this.imagesBaseUrl + "/" + photo;
    },
    calcVolume() {
      if (this.length && this.width && this.height) {
        this.volume = (this.length * this.width * this.height).toFixed(3);
      } else {
        this.volume = void 0;
      }
    }
  },
};
</script>

<style>
.table-actions-col_image {
  width: 225px;
  min-width: 225px;
}
</style>
