<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card
        class="mx-auto"
        max-width="1200"
        outlined
        :loading="localLoading"
      >
        <v-card-text class="page_card_container">
          <v-row no-gutters>
            <v-col class="pt-2 pb-1">
              <v-row dense>
                <v-col cols="12" sm="3" md="3" class="pl-2 pt-2">
                  <h1 class="page-title">Изображения</h1>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Фильтр по Статусу"
                    :items="status_list"
                    item-text="name"
                    item-value="id"
                    :value="filter_status"
                    @change="onChangeStatus"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Фильтр по Типу"
                    :items="type_list"
                    item-text="name"
                    item-value="id"
                    :value="filter_type"
                    @change="onChangeType"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-text-field
                    flat
                    solo-inverted
                    dense
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    :value="filter_search"
                    label="Поиск по названию"
                    @change="onChangeSearch"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Фильтр по Типу Транспорта"
                    :items="truck_type_list"
                    :value="filter_transport_types"
                    item-text="name"
                    item-value="id"
                    multiple
                    @change="onChangeTransportTypes"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Фильтр по Типу Груза"
                    :items="cargo_type_list"
                    :value="filter_cargo_types"
                    item-text="name"
                    item-value="id"
                    multiple
                    @change="onChangeCargoTypes"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Фильтр по Тегам"
                    :items="tag_list"
                    :value="filter_tags"
                    :search-input.sync="tag_search"
                    item-text="name"
                    item-value="id"
                    multiple
                    @change="onChangeTags"
                  ></v-autocomplete>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <hr />

          <span v-if="!localLoading && imagesSearched.length === 0">Результатов нет</span>
          <span v-if="localLoading">Загрузка, пожалуйста ждите....</span>

          <v-simple-table v-if="imagesSearched.length !== 0" dense>
            <thead>
              <tr>
                <th class="text-left" style="min-width:150px;width:150px;">Изображение</th>
                <th class="text-left" style="min-width:110px">Название изображения</th>
                <th class="text-left" style="min-width:110px">Статус</th>
                <th class="text-left" style="min-width:110px">Тип</th>
                <th class="text-right table-actions-col_image">Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="image of imagesSearched" :key="image.id">
                <td class="pt-1">
                  <cld-image v-if="image.cloudinary_public_id" :cloudName="cloudName" :publicId="image.cloudinary_public_id" crop="limit" width="120" height="80" />
                  <v-img v-if="image.file_name" :src="getPhotoPath(image.file_name)" width="120px" height="80px"></v-img>
                </td>
                <td>{{ image.src_name }}</td>
                <td>
                  <span v-if="image.status === STATUS_NEW">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="gray" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Новое, ожидает загрузки в облако</span>
                    </v-tooltip>
                  </span>
                  <span v-if="image.status === STATUS_PROCESSED">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="orange" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Загружено в облако, ожидает модерации</span>
                    </v-tooltip>
                  </span>
                  <span v-if="image.status === STATUS_MANAGED">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="green" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Обработано</span>
                    </v-tooltip>
                  </span>
                  <span v-if="image.status === STATUS_REJECTED">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="error" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Отклонено</span>
                    </v-tooltip>
                  </span>
                </td>
                <td>
                  <span v-if="image.is_transport_type === 10">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="cyan" v-on="on">mdi-train-car</v-icon>
                      </template>
                      <span>Тип Траноспорт</span>
                    </v-tooltip>
                  </span>
                  <span v-if="image.is_cargo_type === 10">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="indigo" v-on="on">mdi-package-variant-closed</v-icon>
                      </template>
                      <span>Тип Груз</span>
                    </v-tooltip>
                  </span>
                </td>
                <td>
                  <edit-image :thisImageData="image">
                    <v-btn small color="primary" tile depressed>
                      <!--<v-icon left x-small>mdi-pencil</v-icon>-->
                      Редактировать
                    </v-btn>
                  </edit-image>
                  <v-menu offset-y left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        tile
                        small
                        class="primary dropdown-menu-activator"
                        depressed
                        v-on="on"
                      >
                        <v-icon>mdi-menu-down</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item @click="onDeleteImage(image)">
                        <v-list-item-title>Удалить</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
          <v-row>
            <v-col>
              <v-pagination
                :value="page"
                :length="total_pages"
                :total-visible="15"
                @input="onChangePage"
              ></v-pagination>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              &nbsp;<br><br>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>

    <!-- dialogs -->
    <new-image>
      <v-btn bottom color="success" dark fixed right>
        <v-icon left>mdi-cloud-upload</v-icon>
        Загрузка фото
      </v-btn>
    </new-image>
  </v-main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import NewImage from "./NewImage";
import EditImage from "./EditImage";

const STATUS_NEW = 10;
const STATUS_PROCESSED = 20;
const STATUS_MANAGED = 30;
const STATUS_REJECTED = 40;

const IS_CARGO_TYPE = 20;
const IS_TRANSPORT_TYPE = 30;

export default {
  name: "Images",
  components: {
    "new-image": NewImage,
    "edit-image": EditImage,
  },
  data: () => ({
    localLoading: false,
    STATUS_NEW,
    STATUS_PROCESSED,
    STATUS_MANAGED,
    STATUS_REJECTED,
    tag_search: "",
    _timerTagSearch: void 0,
    status_list: [{
        id: STATUS_NEW,
        name: 'Обрабатывается',
      }, {
        id: STATUS_PROCESSED,
        name: 'Загружен',
      }, {
        id: STATUS_MANAGED,
        name: 'Подтверждён',
      }, {
        id: STATUS_REJECTED,
        name: 'Отклонён',
    }],
    type_list: [{
        id: IS_CARGO_TYPE,
        name: 'Груз',
      }, {
        id: IS_TRANSPORT_TYPE,
        name: 'Транспорт',
    }],
  }),

  watch: {
    tag_search(val) {
      // Items have already been loaded
      // if (this.tags.length > 0) return;

      // Items have already been requested
      // if (this.localLoading) return;

      // add throttle
      clearTimeout(this._timerTagSearch)
      this._timerTagSearch = setTimeout(() => {
        this.fetchTags({
          search: val
        });
      }, 500)
    },
  },

  computed: {
    ...mapGetters("image", {
      image_list: "images",
      page: "page",
      total_pages: "total_pages",
      filter_transport_types: "transport_types",
      filter_cargo_types: "cargo_types",
      filter_tags: "tags",
      filter_search: "search",
      filter_status: "status",
      filter_type: "type",
    }),
    ...mapGetters("truck_type", {
      truck_type_list: "truck_types",
    }),
    ...mapGetters("cargo_type", {
      cargo_type_list: "cargo_types",
    }),
    ...mapGetters("tag", {
      tag_list: "tags",
    }),
    ...mapGetters("app", {
      cloudName: "cloudName",
    }),
    ...mapGetters("app", {
      imagesBaseUrl: "imagesBaseUrl",
    }),
    imagesSearched() {
      let result = this.image_list;

      return result;
    },
  },
  mounted() {
    this.localLoading = true;
    Promise.all([
      this.fetchImages(),
      this.fetchTruckTypes(),
      this.fetchCargoTypes(),
      // this.fetchTags(),
    ]).then(() => {
      this.localLoading = false;
    });
  },
  methods: {
    ...mapActions("image", [
      "fetchImages", "deleteImage", "setPage", "setSearch", "setStatus", "setType",
      "setTransportTypes", "setCargoTypes", "setTags"
      ]),
    ...mapActions("truck_type", ["fetchTruckTypes"]),
    ...mapActions("cargo_type", ["fetchCargoTypes"]),
    ...mapActions("tag", {
      fetchTags: "fetchTags",
      setSearchTags: "setSearch"
    }),
    onDeleteImage(image) {
      if (!confirm("Удалить изображение " + image.src_name + "?")) {
        return; // exit
      }

      this.localLoading = true;
      this.deleteImage(image)
        .then(() => {
          //
        })
        .finally(() => {
          this.localLoading = false;
        });
    },
    onChangePage(page) {
      this.setPage(page);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeSearch(value) {
      this.setPage(1);
      this.setSearch(value);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeStatus(value) {
      this.setPage(1);
      this.setStatus(value);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeType(value) {
      this.setPage(1);
      this.setType(value);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeTransportTypes(categories) {
      this.setPage(1);
      this.setTransportTypes(categories);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeCargoTypes(categories) {
      this.setPage(1);
      this.setCargoTypes(categories);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    onChangeTags(categories) {
      this.setPage(1);
      this.setTags(categories);

      // refresh
      this.localLoading = true;
      this.fetchImages().then(() => {
        this.localLoading = false;
      });
    },
    getPhotoPath: function (photo) {
      if (photo.indexOf("data:image/") === 0) {
        return photo; // src data
      }

      return this.imagesBaseUrl + "/" + photo;
    },
  },
};
</script>

<style>
.table-actions-col_image {
  width: 225px;
  min-width: 225px;
}
</style>
