<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card
        class="mx-auto"
        max-width="1200"
        outlined
        :loading="localLoading"
      >
        <v-card-text class="page_card_container">
          <v-row no-gutters>
            <v-col class="pt-2 pb-1">
              <v-row dense>
                <v-col cols="12" sm="3" md="3" class="pl-2 pt-2">
                  <h1 class="page-title">Теги</h1>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-text-field
                    flat
                    solo-inverted
                    dense
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    :value="filter_search"
                    label="Поиск"
                    @change="onChangeSearch"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <hr />

          <span v-if="!localLoading && tagsSearched.length === 0">Результатов нет</span>
          <span v-if="localLoading">Загрузка, пожалуйста ждите....</span>

          <v-simple-table v-if="tagsSearched.length !== 0" dense>
            <thead>
              <tr>
                <th class="text-left" style="min-width:110px">Название</th>
                <th class="text-right table-actions-col_tag pr-6">Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="tag of tagsSearched" :key="tag.id">
                <td>{{ tag.name }}</td>
                <td>
                  <edit-tag :thisTagData="tag">
                    <v-btn small color="primary" tile depressed>
                      <!--<v-icon left x-small>mdi-pencil</v-icon>-->
                      Редактировать
                    </v-btn>
                  </edit-tag>
                  <v-menu offset-y left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        tile
                        small
                        class="primary dropdown-menu-activator"
                        depressed
                        v-on="on"
                      >
                        <v-icon>mdi-menu-down</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item @click="onDeleteTag(tag)">
                        <v-list-item-title>Удалить</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </tbody>
          </v-simple-table>

          <v-row>
            <v-col>
              <v-pagination
                :value="page"
                :length="total_pages"
                :total-visible="15"
                @input="onChangePage"
              ></v-pagination>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              &nbsp;<br><br>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>

    <!-- dialogs -->
    <new-tag>
      <v-btn bottom color="success" dark fixed right>
        <v-icon>mdi-plus</v-icon>Добавить Тег
      </v-btn>
    </new-tag>
  </v-main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import NewTag from "./NewTag";
import EditTag from "./EditTag";
// import * as _ from "lodash";

export default {
  name: "Tags",
  components: {
    "new-tag": NewTag,
    "edit-tag": EditTag,
  },
  data: () => ({
    localLoading: false,
  }),
  computed: {
    ...mapGetters("tag", {
      filter_search: "search",
      tag_list: "tags",
      page: "page",
      total_pages: "total_pages",
    }),
    tagsSearched() {
      let result = this.tag_list;

      return result;
    },
  },
  mounted() {
    this.localLoading = true;
    Promise.all([
      this.fetchTags()
    ]).then(() => {
      this.localLoading = false;
    });
  },
  methods: {
    ...mapActions("tag", ["fetchTags", "deleteTag", "setPage", "setSearch"]),
    onDeleteTag(tag) {
      if (!confirm("Внимание! Тег будет удалён для всех изображений. \r\n Уадлить тег \"" + tag.name + "\"?")) {
        return; // exit
      }

      this.localLoading = true;
      this.deleteTag(tag)
        .then(() => {
          //
        })
        .finally(() => {
          this.localLoading = false;
        });
    },
    onChangePage(page) {
      this.setPage(page);

      // refresh
      this.localLoading = true;
      this.fetchTags().then(() => {
        this.localLoading = false;
      });
    },
    onChangeSearch(value) {
      this.setPage(1);
      this.setSearch(value);

      // refresh
      this.localLoading = true;
      this.fetchTags().then(() => {
        this.localLoading = false;
      });
    },
  },
};
</script>

<style>
.table-actions-col_tag {
  width: 225px;
  min-width: 225px;
}
</style>
