<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-if="isUserLoggedIn"
      v-model="drawer"
      clipped
      temporary
      app
    >
      <v-list dense>
        <v-list-item v-for="link of links" :key="link.title" :to="link.url">
          <v-list-item-content>
            <v-list-item-title><v-icon light dense left>{{link.icon}}</v-icon>{{link.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        
        <v-list-item to="/users" v-if="user.role == 'admin'">
          <v-list-item-content>
            <v-list-item-title><v-icon light dense left>mdi-account</v-icon>Пользователи</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/images" v-if="user.role == 'admin'">
          <v-list-item-content>
            <v-list-item-title><v-icon light dense left>mdi-image-search-outline</v-icon>Изображения</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/tags" v-if="user.role == 'admin'">
          <v-list-item-content>
            <v-list-item-title><v-icon light dense left>mdi-tag-multiple</v-icon>Теги</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item to="/profile">
          <v-list-item-content>
            <v-list-item-title><v-icon left>mdi-account</v-icon>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item @click="onLogout">
          <v-list-item-content>
            <v-list-item-title><v-icon left>mdi-logout</v-icon>Выход</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar text app color="teal lighten-1" elevation="2">
      <v-app-bar-nav-icon
        v-if="isUserLoggedIn"
        @click.stop="drawer = !drawer"
        class="hidden-md-and-up"
      ></v-app-bar-nav-icon>

      <div class="logo-container">
        <v-img src="./assets/logo.svg"></v-img>
      </div>

      <v-toolbar-items
        class="hidden-sm-and-down"
        style="margin-left: 16px"
        v-if="isUserLoggedIn"
      >
        <v-btn
          depressed
          color="teal lighten-1"
          v-for="link of links"
          :key="link.title"
          :to="link.url"
        >
          <v-icon light dense left>
            {{link.icon}}
          </v-icon>
          {{ link.title }}
        </v-btn>
        <v-menu
          offset-y
          bottom
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              depressed
              color="teal lighten-1"
              v-if="user.role == 'admin'"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon light dense left>mdi-cog</v-icon>
              Настройки
            </v-btn>
          </template>

          <v-list>
            <v-list-item link to="/users">
              <v-list-item-title><v-icon light dense left>mdi-account</v-icon>Пользователи</v-list-item-title>
            </v-list-item>
            <v-list-item link to="/images">
              <v-list-item-title><v-icon light dense left>mdi-image-search-outline</v-icon>Изображения</v-list-item-title>
            </v-list-item>
            <v-list-item link to="/tags">
              <v-list-item-title><v-icon light dense left>mdi-tag-multiple</v-icon>Теги</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>

      <v-spacer></v-spacer>

      <v-toolbar-items
        class="hidden-sm-and-down"
        v-if="isUserLoggedIn"
      >
        <!-- <v-btn
          depressed
          color="teal lighten-1"
          to="/settings"
          class="float-right options"
          v-if="user.role == 'admin'"
          ><v-icon>mdi-cog</v-icon></v-btn
        > -->

        <v-btn
          depressed
          color="teal lighten-1"
          to="/profile"
          class="float-right users"
          >
            {{ user.name }}
            <v-icon right>
              mdi-account
            </v-icon>
          </v-btn
        >
        <v-btn
          depressed
          color="teal lighten-1"
          class="logout-btn users float-right"
          @click="onLogout"
          >Выход<v-icon right>mdi-logout</v-icon></v-btn
        >
      </v-toolbar-items>
    </v-app-bar>

    <router-view />

    <template v-if="error">
      <v-snackbar
        :multi-line="true"
        :timeout="5000"
        @input="closeError"
        :value="true"
      >
        {{ error }}

        <template v-slot:action="{ attrs }">
          <v-btn small color="warning" text v-bind="attrs" @click="closeError">
            Закрыть
          </v-btn>
        </template>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    drawer: null,
  }),
  computed: {
    ...mapGetters("app", {
      error: "error",
    }),
    ...mapGetters(["_token"]),
    ...mapGetters("user", {
      user: "user",
      isUserLoggedIn: 'isUserLoggedIn'
    }),
    links() {
      let links = [];

      if (this.user && this.user.role == 'manager') {
        links.push(
          {
            icon: "mdi-home",
            title: "Главная",
            url: "/dashboard",
          },
          {
            icon: "mdi-folder-multiple-image",
            title: "Изображения",
            url: "/images-moderate",
          }
        );
      }

      if (this.user && this.user.role == 'admin') {
        links.push(
          {
            icon: "mdi-home",
            title: "Главная",
            url: "/dashboard",
          },
          {
            icon: "mdi-folder-multiple-image",
            title: "Изображения",
            url: "/images-moderate",
          },
        );
      }

      return links;
    },
  },
  mounted() {
    if (this.$router.currentRoute.path == "/") {
      // default route dashboard
      this.$router.push("/login");
    }
  },
  methods: {
    ...mapActions('user', ['logOut']),
    ...mapActions("app", ["clearError"]),
    closeError() {
      this.clearError();
    },
    onLogout() {
      this.logOut();
      this.$router.push("/login");
    },
  },
};
</script>

<style>
.pointer {
  cursor: pointer;
}
.logo-container {
  max-width: 78px;
}
.app_container {
  background: #f4f4f4;
}
.page_card_container {
  padding-top: 0px !important;
}
.switch_fix_top_margin {
  margin-top: 6px !important;
}
.item-link {
  background: none;
  color: #1f77bc;
}
.item-link:hover, .item-link:active, .item-link:focus {
  cursor: pointer;
  text-decoration: underline;
}
</style>
