<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <slot></slot>
      </span>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Редактирование Профиля
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        
        <v-container>
          <v-row class="mx-2" dense>
            <v-col cols="12" sm="6" md="6">
            <v-text-field
              clear-icon="mdi-close"
              clearable
              outlined
              label="Имя*"
              hint="введите Имя"
              required
              v-model="name"
              :error-messages="nameErrors"
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
            ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6">
            <v-text-field
              clear-icon="mdi-close"
              clearable
              outlined
              label="Email*"
              required
              v-model="email"
              :error-messages="emailErrors"
              disabled
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12">
            <v-switch v-model="switch_change_password" label="Изменить пароль"></v-switch>
            </v-col>

            <v-col cols="12" sm="12" v-if="switch_change_password">
            <v-text-field
              :append-icon="showPasswordCurrent ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPasswordCurrent ? 'text' : 'password'"
              @click:append="showPasswordCurrent = !showPasswordCurrent"
              clear-icon="mdi-close"
              clearable
              outlined
              label="Текущий пароль"
              v-model="current_password"
              :error-messages="currentPasswordErrors"
              :counter="12"
              @change="$v.current_password.$touch()"
              @blur="$v.current_password.$touch()"
            ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" v-if="switch_change_password">
            <v-text-field
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              @click:append="showPassword = !showPassword"
              clear-icon="mdi-close"
              clearable
              outlined
              name="password"
              label="Новый пароль"
              v-model="password"
              :rules="passwordRules"
              :counter="12"
            ></v-text-field>
            </v-col>
          </v-row>
        </v-container>

        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Сбросить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="primary" :loading="localLoading" @click="submit()">Сохранить</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  email,
} from "vuelidate/lib/validators";
import { mapGetters, mapActions } from "vuex";
import * as _ from "lodash";

export default {
  mixins: [validationMixin],
  name: "NewLocationModal",
  validations: {
    name: { required, maxLength: maxLength(255) },
    email: { required, email },
    current_password: {},
  },
  data: () => ({
    name: void 0,
    email: void 0,
    current_password: void 0,
    password: void 0,
    // --
    switch_change_password: false,
    showPasswordCurrent: false,
    showPassword: false,
    passwordRules: [
      (v) => !!v || "Пожалуйста введите пароль",
      (v) =>
        (v && v.length >= 6) || "Пароль должен быть длинее 6 символов",
    ],
    localLoading: false,
    dialog: false,
    response_errors: [],
  }),
  mounted() {
      this.clear();
  },
  computed: {
    ...mapGetters("user", {
      user: "user",
    }),
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength && errors.push('Поле должно быть не больше 255 символов');
      !this.$v.name.required && errors.push("Поле обязательно для заполнения.");

      // response errors
      let resp_errors = _.filter(this.response_errors, p => p.property == 'name');
      _.each(resp_errors, p => errors.push(p.message));

      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");

      // response errors
      let resp_errors = _.filter(this.response_errors, p => p.property == 'email');
      _.each(resp_errors, p => errors.push(p.message));

      return errors;
    },
    currentPasswordErrors() {
      const errors = [];
      if (!this.$v.current_password.$dirty) return errors;
      // !this.$v.current_password.required && errors.push('Please enter your password')

      // response errors
      let resp_errors = _.filter(this.response_errors, p => p.property == 'current_password');
      _.each(resp_errors, p => errors.push(p.message));

      return errors;
    },
  },

  methods: {
    ...mapActions("user", ["updateProfile"]),
    clear() {
      this.$v.$reset();

      this.name = this.user.name;
      this.email = this.user.email;
      this.current_password = void 0;
      this.password = void 0;

      this.dialog = false;
    },
    submit() {
      this.localLoading = true;
      this.$v.$touch();
      if (!this.$v.$invalid) {
        let editedProfile = {
          // id: this.user.id,
          name: this.name,
          // email: this.email,
        };

        if (this.switch_change_password) {
          editedProfile.current_password = this.current_password;
          editedProfile.password = this.password;
        }

        this.localLoading = true;
        this.updateProfile(editedProfile)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
  },
};
</script>

<style scoped>
</style>