<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card class="mx-auto" max-width="800" outlined>
        <v-card-text class="page_card_container">
          <v-row dense>
            <v-col cols="12" sm="6" md="6" class="pl-2 pt-4">
              <h1 class="page-title">Профиль</h1>
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <edit-profile-modal>
                <v-btn color="primary" tile depressed>
                  Редактировать Профиль
                </v-btn>
              </edit-profile-modal>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <v-divider></v-divider>
            </v-col>
            
            <v-col cols="12" sm="4" md="4" class="pt-2 pl-2">Роль:</v-col>
            <v-col cols="12" sm="8" md="8" class="pt-2 pl-2">{{user.role}}</v-col>
            <v-col cols="12" sm="4" md="4" class="pt-2 pl-2">Имя:</v-col>
            <v-col cols="12" sm="8" md="8" class="pt-2 pl-2">{{user.name}}</v-col>
            <v-col cols="12" sm="4" md="4" class="pt-2 pl-2">Email:</v-col>
            <v-col cols="12" sm="8" md="8" class="pt-2 pl-2">{{user.email}}</v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
  </v-main>
</template>

<script>
import { mapGetters } from "vuex";
import EdittProfileModal from './EdittProfileModal';
// import * as _ from "lodash";

export default {
  name: "Profile",
  components: {
    "edit-profile-modal": EdittProfileModal,
  },
  data() {
    return {
      //
    };
  },
  computed: {
    ...mapGetters("user", {
      user: "user",
    }),
  },
  methods: {
    //
  },
};
</script>

<style scoped>
</style>