<template>
  <v-dialog v-model="dialog" width="800px">
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <slot></slot>
      </span>
    </template>
    <v-card>
      <form @submit.prevent="submit">
        <v-card-title class="teal lighten-1">
          Редактирование Пользователя
          <v-spacer></v-spacer>
          <div class="pointer" @click="dialog = false">
            <v-icon left>mdi-close</v-icon>
          </div>
        </v-card-title>
        <v-container>
          <v-row class="mx-2" dense>
            <v-col cols="12" sm="12" md="12">
              <v-autocomplete
                outlined
                dense
                label="Роль"
                :items="role_list"
                item-text="name"
                item-value="id"
                hint="Выберите роль пользователя"
                required
                v-model="role"
                :error-messages="roleErrors"
                @input="$v.role.$touch()"
                @blur="$v.role.$touch()"
              ></v-autocomplete>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="email адрес"
                required
                v-model="email"
                :error-messages="emailErrors"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-text-field
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                label="Имя пользователя*"
                hint="Введите Имя пользователя"
                required
                v-model="name"
                :error-messages="nameErrors"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-switch v-model="verified" dense class="switch_fix_top_margin" label="Email Подтверждён"></v-switch>
            </v-col>

            <v-col cols="12" sm="12" md="12">
              <v-switch v-model="switch_change_password" dense class="switch_fix_top_margin" label="Изменить пароль"></v-switch>
            </v-col>

            <v-col cols="12" sm="12" v-if="switch_change_password">
              <v-text-field
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
                clear-icon="mdi-close"
                clearable
                outlined
                dense
                name="password"
                label="Пароль"
                v-model="password"
                :rules="passwordRules"
                :counter="12"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-btn class="mr-4" text :loading="localLoading" @click="clear">
            <v-icon left>mdi-rotate-left</v-icon>Сбросить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="secondary" :loading="localLoading" @click="dialog = false">Отмена</v-btn>
          <v-btn color="primary" :loading="localLoading" @click="submit()">Сохранить</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from "vuelidate";
import { mapActions } from "vuex";
import {
  required,
  maxLength,
  email /* numeric */,
} from "vuelidate/lib/validators";
import * as _ from "lodash";

export default {
  name: "EditUser",
  mixins: [validationMixin],
  props: ["thisUserData"],
  validations: {
    role: { required },
    name: { required, maxLength: maxLength(255) },
    email: { required, email },
  },
  data: () => ({
    dialog: false,
    localLoading: false,
    isSubmited: false,
    // form User
    name: "",
    password: "",
    role: "",
    email: "",
    verified: true,
    // --
    response_errors: [],
    switch_change_password: false,
    showPassword: false,
    passwordRules: [
      (v) => !!v || "Пожалуйста введите пароль",
      (v) =>
        (v && v.length >= 6) || "Пароль должен быть длинее 6 символов",
    ],
    role_list: [{
      id: 'admin',
      name: 'Администратор',
    }, {
      id: 'manager',
      name: 'Менеджер',
    }, {
      id: 'user',
      name: 'Пользователь',
    }]
  }),
  created() {
    this.clear();
  },

  computed: {
    roleErrors() {
      const errors = [];
      if (!this.$v.role.$dirty) {
        return errors;
      }
      !this.$v.role.required && errors.push("Поле обязательно для заполнения.");
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) {
        return errors;
      }
      !this.$v.name.maxLength && errors.push('Поле должно быть не больше 255 символов');
      !this.$v.name.required && errors.push("Поле обязательно для заполнения.");

      // response errors
      let resp_errors = _.filter(this.response_errors, p => p.property == 'name');
      _.each(resp_errors, p => errors.push(p.message));

      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Не правильно введён e-mail");
      !this.$v.email.required && errors.push("Поле E-mail обязательно для заполнения");

      // response errors
      let resp_errors = _.filter(this.response_errors, p => p.property == 'email');
      _.each(resp_errors, p => errors.push(p.message));

      return errors;
    },
  },

  methods: {
    ...mapActions("user", ["editUser"]),
    submit() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        const editedUser = {
          id: this.thisUserData.id,
          role: this.role,
          name: this.name,
          email: this.email,
          verified: this.verified,
        };

        if (this.file_src) {
          editedUser.photo_src_name = this.photoid;
          editedUser.file_src = this.file_src;
        }

        if (this.switch_change_password) {
          editedUser.password = this.password;
        }

        this.localLoading = true;
        this.editUser(editedUser)
          .then(() => {
            this.dialog = false;
            this.clear();
            this.$emit("updated", "");
          })
          .catch((error) => {
            this.response_errors = _.get(error, 'response.data.errors', []);
          })
          .finally(() => {
            this.localLoading = false;
          });
      }
    },
    clear() {
      this.$v.$reset();

      // form User
      this.name = _.get(this.thisUserData, 'name', '');
      this.password = void 0;
      this.role = _.get(this.thisUserData, 'role', 'user');
      this.email = _.get(this.thisUserData, 'email', 'user');
      this.verified = _.isEmpty(this.thisUserData.email_verified_at) ? false : true;
      this.switch_change_password = false;
      
      this.response_errors = [];
    },
  },
};
</script>

<style>
</style>
