<template>
  <v-main class="app_container">
    <v-container fluid>
      <v-card
        class="mx-auto"
        max-width="1200"
        outlined
        :loading="localLoading"
      >
        <v-card-text class="page_card_container">
          <v-row no-gutters>
            <v-col class="pt-2 pb-1">
              <v-row dense>
                <v-col cols="12" sm="3" md="3" class="pl-2 pt-2">
                  <h1 class="page-title">Пользователи</h1>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Роль"
                    :items="role_list"
                    item-text="name"
                    item-value="id"
                    :value="filter_role"
                    @change="onChangeRole"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-autocomplete
                    solo-inverted
                    dense
                    clear-icon="mdi-close"
                    prepend-inner-icon="mdi-filter"
                    clearable
                    hide-details
                    label="Статус"
                    :items="verified_list"
                    item-text="name"
                    item-value="id"
                    :value="filter_status"
                    @change="onChangeStatus"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="3" md="3">
                  <v-text-field
                    flat
                    solo-inverted
                    dense
                    hide-details
                    prepend-inner-icon="mdi-magnify"
                    :value="filter_search"
                    label="Поиск"
                    @change="onChangeSearch"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <hr />

          <span v-if="!localLoading && usersSearched.length === 0">Результатов нет</span>
          <span v-if="localLoading">Загрузка, пожалуйста ждите....</span>

          <v-simple-table v-if="usersSearched.length !== 0" dense>
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Имя</th>
                <th class="text-left">Роль</th>
                <th class="text-left">Email</th>
                <th class="text-left">Статус</th>
                <th class="text-right table-actions-col_user">Действия</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user of usersSearched" :key="user.id">
                <td>{{ user.id }}</td>
                <td>
                  <span class="user-link">{{ user.name }}</span>
                </td>
                <td>
                  <span class="user-link">{{ user.role }}</span>
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  <template v-if="user.email_verified_at">
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="success" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Подтверждён</span>
                    </v-tooltip>
                  </template>
                  <template v-else>
                    <v-tooltip right>
                      <template v-slot:activator="{ on }">
                        <v-icon color="blue-grey lighten-3" v-on="on">mdi-checkbox-blank-circle</v-icon>
                      </template>
                      <span>Новый</span>
                    </v-tooltip>
                  </template>
                </td>
                <td>
                  <edit-user :thisUserData="user">
                    <v-btn small color="primary" tile depressed>
                      <!--<v-icon left x-small>mdi-pencil</v-icon>-->
                      Редактировать
                    </v-btn>
                  </edit-user>
                  <v-menu offset-y left>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        tile
                        small
                        class="primary dropdown-menu-activator"
                        depressed
                        v-on="on"
                      >
                        <v-icon>mdi-menu-down</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item @click="onDeleteUser(user)">
                        <v-list-item-title>Удалить</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </tbody>
          </v-simple-table>
          <v-row>
            <v-col>
              <v-pagination
                :value="page"
                :length="total_pages"
                :total-visible="15"
                @input="onChangePage"
              ></v-pagination>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              &nbsp;<br><br>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>

    <!-- dialogs -->
    <new-user>
      <v-btn bottom color="success" dark fixed right>
        <v-icon>mdi-plus</v-icon>
        Добавить Пользователя
      </v-btn>
    </new-user>
  </v-main>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import NewUser from "./NewUser";
import EditUser from "./EditUser";
// import * as _ from "lodash";

const VERIFICATION_AWAIT = 20;
const VERIFICATION_ACCEPTED = 10;

export default {
  name: "User",
  components: {
    "new-user": NewUser,
    "edit-user": EditUser,
  },
  data: () => ({
    localLoading: false,
    VERIFICATION_AWAIT,
    VERIFICATION_ACCEPTED,
    green: "#0ab90a",
    orange: "#dc7319d1",
    danger: "#dc7319d1",
    verified_list: [{
      id: VERIFICATION_AWAIT,
      name: 'Зарегистрирован',
    }, {
      id: VERIFICATION_ACCEPTED,
      name: 'Подтверждён',
    }],
    role_list: [{
      id: 'admin',
      name: 'Администратор',
    }, {
      id: 'manager',
      name: 'Менеджер',
    }, {
      id: 'user',
      name: 'Пользователь',
    }]
  }),
  computed: {
    ...mapGetters("user", {
      user_list: "users",
      page: "page",
      total_pages: "total_pages",
      filter_search: "search",
      filter_status: "status",
      filter_role: "role",
    }),
    usersSearched() {
      let result = this.user_list;

      return result;
    },
  },
  mounted() {
    this.localLoading = true;
    this.fetchUsers().then(() => {
      this.localLoading = false;
    });
  },
  methods: {
    ...mapActions("user", ["fetchUsers", "deleteUser", "setPage", "setSearch", "setStatus", "setRole",]),
    onDeleteUser(user) {
      if (!confirm("Удалить пользователя " + user.name + "?")) {
        return; // exit
      }

      this.localLoading = true;
      this.deleteUser(user)
        .then(() => {
          //
        })
        .finally(() => {
          this.localLoading = false;
        });
    },
    onChangePage(page) {
      this.setPage(page);

      // refresh
      this.localLoading = true;
      this.fetchUsers().then(() => {
        this.localLoading = false;
      });
    },
    onChangeSearch(value) {
      this.setPage(1);
      this.setSearch(value);

      // refresh
      this.localLoading = true;
      this.fetchUsers().then(() => {
        this.localLoading = false;
      });
    },
    onChangeStatus(value) {
      this.setPage(1);
      this.setStatus(value);

      // refresh
      this.localLoading = true;
      this.fetchUsers().then(() => {
        this.localLoading = false;
      });
    },
    onChangeRole(value) {
      this.setPage(1);
      this.setRole(value);

      // refresh
      this.localLoading = true;
      this.fetchUsers().then(() => {
        this.localLoading = false;
      });
    },
  },
};
</script>

<style>
.table-actions-col_user {
  width: 225px;
  min-width: 225px;
}
</style>
